{%extends 'base.html'%}

{%block title%}
邮箱|草稿箱
{%endblock%}

{%block newbody%}

<div class="col-lg-7 index-body-center">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ url_for('draft') }}">草稿列表</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('add_draft') }}">添加草稿</a></li>
    </ul>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-plus-sign"></span>
                添加草稿</h3>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('add_draft') }}" method="post">
                <span style="font-size: xx-small;">邮件主题： </span><br>
                <input class="write-title" type="text" name="theme"><br>
                <span style="font-size: xx-small;">收件人： </span><br>
                <input class="sendto" type="text" name="sendto"><br>
                <div class="file-box">
                    <input type='text' name='textfield' id='textfield' class='txt comm'/>
                    <input type='button' class='btn comm' value='浏览...'/>
                    <input type="file" name="file" class="file comm" size="28"
                           onchange="document.getElementById('textfield').value=this.value"/>
                </div>
                <span style="font-size: xx-small;">内容： </span><br>
                <textarea class="content" name="content"></textarea><br>
                <input style="height: 30px;" class="sendbutton" type="submit" value="保存草稿">
                <input style="height: 30px;" class="sendbutton" type="reset" value="撤销草稿">
            </form>
            <br>

        </div>
    </div>

</div>

<div class="col-lg-3 index-body-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入关键字">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">搜索</button>
                  </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
    <br>
    <div class="list-group">
        <a href="#" class="list-group-item active">.......</a>
        <a href="#" class="list-group-item">..........</a>
        <a href="#" class="list-group-item">.............</a>
        <a href="#" class="list-group-item">............</a>
        <a href="#" class="list-group-item">..............</a>
        <a href="#" class="list-group-item">............</a>
        <a href="#" class="list-group-item">......</a>
    </div>

</div>

{%endblock%}