{%extends 'base.html'%}

{%block title%}
邮箱|联系人
{%endblock%}

{%block newbody%}

    <div class="col-lg-7 index-body-center">
        <div class="row">
        <div class="col-lg-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="{{ url_for('linkman') }}">联系人列表</a></li>
                    <li role="presentation"><a href="{{ url_for('add_linkman') }}">添加联系人</a></li>
                </ul>

                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-list"></span>
                            联系人列表</h3>
                    </div>
                    <div class="panel-body">

                        <table border="1px" bordercolor="silver" class="table table-striped">
                            <thead>
                            <tr style="font-size: 18px">
                                <th style="width: 120px;text-align: center;">备注</th>
                                <th style="text-align: center;">邮箱帐号</th>
                                <th style="width: 220px;text-align: center;">联系电话</th>
                                <th style="width: 100px;text-align: center;">修改</th>
                                <th style="width: 100px;text-align: center;">删除</th>
                            </tr>
                            </thead>

                            <tbody style="padding-bottom: 10px;font-size: 18px;text-align: center;">
                            {% for linkman in linkmans.items %}
                                <tr>
                                    <td>{{ linkman.remark }}</td>
                                    <td>{{ linkman.email }}</td>
                                    <td>{{ linkman.phone }}</td>
                                    <td>
                                        <form action="/linkman/edit/{{ linkman.id }}" method="get">
                                            <input class="btn btn-sm btn-success" type="submit" value="修 改">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/linkman/delete/{{ linkman.id }}" method="post">
                                            <input class="btn btn-sm btn-danger" type="submit" value="删 除">
                                        </form>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>

                        </table>
                        {%  from 'macro_page.html' import paginate %}
                        {{ paginate('linkman', linkmans) }}
                    </div>
                </div>
        </div>
        </div>
    </div>

    <div class="col-lg-3 index-body-center">
        <div class="row">
              <div class="col-lg-12">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="请输入关键字">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">搜索</button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        <br>
        <div class="list-group">
            <a href="#" class="list-group-item active"> 最近联系 </a>
            {% for man in recent_linkmans %}
            <a href="#" class="list-group-item">{{ man.remark }} <span style="float: right;">({{ man.email }})</span></a>
            {% endfor %}
        </div>

    </div>

{%endblock%}